/* You can add global styles to this file, and also import other style files */
@import 'variables';

html,
body,
p {
  color: $main-text-color;
}

#rentalListing {
  .title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
  }


}
.apartment{
color: #a72da3;
}
.condo{
color: #d68000;
}
.home{
color: #bf1818;
}
